{% extends "base.jinja2" %}

{% block main %}
  <div class="container center">
    <h1>Damn</h1>
    <h2>404</h2>
  </div>

{% endblock %}

{% block js %}
  <script type="text/javascript" src="/static/index.js"></script>
{% endblock %}
