{% extends "base.jinja2" %}

{% block main %}
  <div class="container">
    <div class="row">
      <div class="column column-50">
        <video id="video-client" class="video" autoplay></video>
        <canvas id="canvas-client" style="display: none"></canvas>
      </div>
    </div>
    <div class="row">
      <div class="column column-50">
        <img id="image-server"/>
      </div>
      <div class="column column-50">
        <canvas id="video-server-1" class="video"></canvas>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
  <script type="text/javascript" src="/static/room.js"></script>
{% endblock %}
